.images_sharex_fb{
vertical-align: middle;
margin-top:18px;
cursor: pointer;
}
.images_sharex_fb2{
vertical-align: middle;
margin-top:18px;
cursor: pointer;
margin-right:60px;
}
.images_sharex_loading{
vertical-align: middle;
display:block;
}
.images_sharex_loading2{
vertical-align: middle;
display:none;
}
